/* Typography Settings */

/* Global */
:root {
  --primary-blue: #008197;
  --primary-orange: #e76924;
  --primary-text: #333333;
  --secondary-blue: #3b5c83;
  --light-yellow: #fff5c9;
  --light-gray: #939598;
  --white: #ffffff;
  --skyblue-teal: #65b6c3;
  --light-green: #e2e8b7;
  --light-blue: #cfe6ea;
  --gray-bg: #d9d9d9;
  --peach: #ffe3d3;
  --taupe: #e8e5dc;
  --violet: #eadffa;
  --teal: #0097a9;
  --slate-blue: #394b61;
  --success-green: #3b7a2e;
  --panel-blue: #e3f1f3;
  --panel-yellow: #fff7d6;
  --badge-info: #b3e6f7;
  --font-main: "Nunito", sans-serif;
  --fontsize-primary: 1rem;
}

body,
html {
  font-family: var(--font-main);
  line-height: 1.6;
  color: var(--primary-text);
  background-color: var(--white);
  font-size: var(--fontsize-primary);
}
p,
div {
  font-family: var(--font-main);
  color: var(--primary-text);
  font-size: var(--fontsize-primary);
}
a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--primary-orange);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
.bluish-text {
  color: var(--secondary-blue);
}
.lead {
  font-size: 1.25rem;
  font-weight: 400;
}

/* Layout  Global */
.site-header,
.page-content-wrapper {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header and Navigation - Global */
.site-header {
  position: relative;
  background-color: var(--white);
  padding: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wwk-logo-icon {
  max-height: 66px;
  margin-left: 25px;
}
.navbar-nav .nav-link {
  color: var(--primary-blue);
  font-size: calc(1rem + 0.25vw);
  padding: 5px 10px;
}
.navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}
.navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
.navbar-nav.dot-separated .nav-item:not(:last-child) .nav-link::after {
  content: "•";
  color: orange;
  margin: 0 5px 0 25px;
  display: inline;
}
.navbar-toggler .btn-close {
  display: none; /* Hide by default */
  background-color: var(--primary-orange);
  padding: 10px;
  right: 5px;
}
.navbar-toggler[aria-expanded="true"] {
  border: none;
}
.navbar-toggler[aria-expanded="true"] .btn-close {
  display: inline; /* Show when expanded */
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  display: none; /* Hide burger when expanded */
}

@media (min-width: 1439px) {
  .site-header {
    padding: 40px 0 0;
  }
}
@media (min-width: 1400px) {
  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .wwk-logo-icon {
    max-height: 99px;
    margin-left: 0;
  }
}
@media (min-width: 1150px) and (max-width: 1399px) {
  .navbar-nav .nav-link {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) and (max-width: 1149px) {
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .wwk-logo-icon {
    max-height: 56px;
    margin-left: 0;
  }
  .site-navbar {
    border-radius: 0 !important;
  }
  .site-navbar > .container-fluid {
    padding: 0;
  }
  .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 10px;
  }
  .navbar-nav.dot-separated .nav-item:not(:last-child) .nav-link::after {
    display: none;
  }
}

/* Page Content Layout - Global */
.page-content-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1438px;
  background-color: var(--white);
}
.page-content-inner {
  width: 100%;
}

/* Content Helpers - Global */
.blue-bar {
  width: 99%;
  border-radius: 20px;
  background-color: var(--panel-blue);
  height: 11px;
  margin: 2rem auto;
}
.slick-prev:hover,
.slick-prev:focus,
.left-arrow {
  background: url("/assets/left-arrow.svg") transparent no-repeat center center !important;
}
.slick-next:hover,
.slick-next:focus,
.right-arrow {
  background: url("/assets/right-arrow.svg") transparent no-repeat center center !important;
}
.slick-prev,
.slick-next {
  height: 50px;
  width: 50px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-next,
.slick-prev {
  height: 60px;
  width: 60px;
  font-size: 2.25rem;
  color: #888;
}
.slick-next {
  right: -60px;
}
.slick-prev {
  left: -60px;
}
.slick-next .slick-next-icon,
.slick-next .slick-prev-icon,
.slick-prev .slick-next-icon,
.slick-prev .slick-prev-icon {
  font-size: 50px;
}
.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon {
  color: #c25132;
  font-size: 50px;
}
.cta-lead {
  color: var(--primary-orange);
  font-size: 2.75rem;
  font-weight: bold;
}
.cta-btn {
  background: var(--primary-orange);
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 1.875rem;
  padding: 0.8125rem 1.6875rem;
  margin: 1rem auto;
}
.google-badge-icon,
.apple-badge-icon {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 79px;
  padding: 0 8px;
}
.google-badge-icon {
  max-height: 80px;
}

/* Utility background colors */
.bg-light-blue {
  background-color: var(--light-blue) !important;
}
.bg-light-yellow {
  background-color: var(--panel-yellow) !important;
}
.bg-orange {
  background-color: var(--primary-orange) !important;
  color: #fff !important;
}

/* Hero Section - Global */
.hero-heading-1 {
  position: relative;
  font-weight: bold;
  font-size: calc(2rem + 1.5vw);
  text-align: center;
  color: var(--primary-blue);
  margin: 55px 0 0;
}
@media (min-width: 1439px) {
  .hero-heading-1 {
    font-size: 6rem;
  }
}
@media (min-width: 1250px) and (max-width: 1438px) {
  .hero-heading-1 {
    font-size: 5rem;
  }
}
@media (min-width: 1050px) and (max-width: 1249px) {
  .hero-heading-1 {
    font-size: 4.25rem;
  }
}
@media (min-width: 956px) and (max-width: 1049px) {
  .hero-heading-1,
  .stories-from-around {
    font-size: 4rem;
  }
}
@media (max-width: 955px) {
  .hero-heading-1 {
    margin-top: 30px;
  }
}
.hero-section {
  width: 100%;
}
.hero-heading-2 {
  font-size: 4.6rem;
  text-align: center;
  color: var(--primary-blue);
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.hero-subheading {
  color: var(--primary-orange);
  font-size: 1.875rem;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 400;
}
.hero-subheading.yellow-bg {
  background-color: var(--panel-yellow);
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  color: var(--primary-orange);
  font-size: 1.75rem;
  margin: 20px auto 80px;
  max-width: 1430px;
}
.hero-subheading.orange-bg {
  background-color: var(--primary-orange);
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  color: var(--white);
  font-size: 1.75rem;
  margin: 0;
}
.sub-header-teal {
  color: var(--teal);
  font-size: 2.5rem;
  font-weight: bold;
}
.sub-header2-teal {
  color: var(--teal);
  font-size: 1.6rem;
}
.hero-icon-caption {
  font-size: 1.75rem;
  color: var(--secondary-blue);
  max-width: 328px;
}

/* Review Section - Global */
.reviews-section {
  width: 100%;
}
.families-love-our {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  color: var(--primary-orange);
  font-family: var(--font-main);
  text-align: left;
}
@media (max-width: 900px) {
  .families-love-our {
    font-size: 2rem;
  }
}
.review-cards {
  display: flex;
  flex-wrap: nowrap !important;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.review-col {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
.review-box {
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(177, 179, 182, 0.19);
  max-width: 324px;
  width: 100%;
  margin: 0 5px;
  min-height: 17.5rem;
  height: 22.56rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}
.star-group {
  height: 2.125rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.add-customer-review {
  font-size: 1.1rem;
  color: var(--primary-blue);
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}
.reviewer-name {
  font-size: 1.1rem;
  color: var(--primary-blue);
  margin-top: auto;
  text-align: left;
  margin-bottom: 0;
}
.review-slider-arrows {
  display: flex;
  justify-content: end;
  gap: 8px;
  position: relative;
  margin: 20px auto 0;
}
.review-slider-arrows .slick-next {
  right: 20px;
  height: 23px;
}
.review-slider-arrows .slick-prev {
  left: auto;
  right: 40px;
  height: 23px;
}

/* Responsive tweaks for review boxes */
@media (min-width: 951px) and (max-width: 1300px) {
  .families-love-our {
    margin-left: 15px;
  }
  .review-cards {
    margin: 0 auto;
    gap: 20px;
    padding: 0 10px;
  }
  .review-col {
    flex: 0 0 33.33%;
    max-width: 324px;
    width: 100%;
    padding: 0 0 20px;
    box-sizing: border-box;
  }
  .review-box {
    width: 93%;
    margin: 0 20px 20px;
  }
  .star-icon {
    width: 25px;
  }
}
@media (max-width: 950px) {
  .families-love-our {
    margin-left: 15px;
  }
  .review-cards {
    margin: 0 auto;
    gap: 15px;
    padding: 0 10px;
    max-width: 700px;
  }
  .review-col {
    max-width: 324px;
    width: 100%;
    margin: 0 10px 15px;
  }
  .star-icon {
    width: 25px;
  }
}
/* --- Homepage --- */

/* Promo Banner -Homepage */
.app-promo-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.get-the-app,
.audio-stories-for {
  color: var(--primary-orange);
  text-align: left;
  font-size: calc(1rem + 0.5vw);
  padding: 15px 15px 0;
  vertical-align: middle;
}
.hero-image-wrapper {
  max-width: 1030px;
  margin: 0 auto;
}
.hero-image-wrapper .homepage-hero-image {
  max-width: 100%;
  height: auto;
}
.free-stories-included {
  text-align: center;
  font-size: calc(0.8rem + 0.75vw);
  color: var(--primary-orange);
  margin-top: 2rem;
}
.get-started-by {
  position: relative;
  font-size: calc(1rem + 1.75vw);
  color: var(--primary-orange);
  text-align: center;
  margin: 0 auto 50px;
  padding: 0;
}
.get-the-app {
  text-align: right;
}
.audio-stories-for {
  text-align: left;
}
@media (min-width: 1439px) {
  .get-the-app,
  .audio-stories-for {
    font-size: 2.1rem;
  }
  .homepage .google-badge-icon,
  .homepage .apple-badge-icon {
    max-width: 266px;
  }
  .free-stories-included {
    font-size: 2.1rem;
  }
  .get-started-by {
    font-size: 4.5rem;
  }
  .get-the-app {
    padding-right: 20px;
  }
  .audio-stories-for {
    padding-left: 15px;
  }
}
@media (min-width: 1250px) and (max-width: 1438px) {
  .get-the-app,
  .audio-stories-for {
    font-size: 1.75rem;
  }
  .homepage .google-badge-icon,
  .homepage .apple-badge-icon {
    max-width: 220px;
  }
  .free-stories-included {
    font-size: 1.9rem;
  }
  .get-started-by {
    font-size: 3.9rem;
  }
}
@media (min-width: 1050px) and (max-width: 1249px) {
  .get-the-app,
  .audio-stories-for {
    font-size: 1.5rem;
  }
  .homepage .google-badge-icon,
  .homepage .apple-badge-icon {
    max-width: 190px;
  }
  .free-stories-included {
    font-size: 1.75rem;
  }
  .get-started-by {
    font-size: 3.25rem;
  }
}
@media (min-width: 956px) and (max-width: 1049px) {
  .get-the-app,
  .audio-stories-for {
    font-size: 1.25rem;
  }
  .homepage .google-badge-icon,
  .homepage .apple-badge-icon {
    max-width: 150px;
  }
  .free-stories-included {
    font-size: 1.5rem;
  }
  .get-started-by {
    font-size: 2.9rem;
  }
}
@media (max-width: 955px) {
  .app-store-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .homepage .google-badge-icon,
  .homepage .apple-badge-icon {
    max-width: 150px;
  }

  .app-promo-panel {
    flex-wrap: nowrap;
    margin-top: 20px;
  }
}
@media (max-width: 955px) {
  .app-promo-panel {
    flex-direction: column;
  }
}
@media (min-width: 705px) and (max-width: 955px) {
  .free-stories-included {
    font-size: 1.3rem;
  }
}

/* Promo Slider - Homepage */
.promo-slider-wrapper {
  width: 100%;
  max-width: 1420px;
  padding: 0 80px;
  margin: 0 auto;
}
.feature-box {
  border-radius: 10px;
  height: 100px;
  margin: 0 10px;
  width: 483px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.feature-text {
  color: var(--secondary-blue);
  font-size: calc(1rem + 1.15vw);
  display: inline-block;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.feature-box.yellow {
  background-color: var(--light-yellow);
}
.feature-box.green {
  background-color: var(--light-green);
}
.feature-box.blue {
  background-color: var(--light-blue);
}
.feature-box.peach {
  background-color: var(--peach);
}
.feature-box.taupe {
  background-color: var(--taupe);
}
.feature-box.violet {
  background-color: var(--violet);
}

/* Feature Box Text Adjustments- Homepage */
.feature-text.help-children {
  max-width: 331px;
  margin: 0 auto;
  text-align: center;
}
.feature-text.stories-forever {
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
}
.feature-text.audible-only {
  max-width: 370px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1439px) {
  .feature-text {
    padding-left: 1.55px;
  }
}

/* Responsive Feature Box Text Sizes - Homepage */
@media (min-width: 1439px) {
  .feature-text {
    font-size: 1.4rem;
  }
}
@media (min-width: 1250px) and (max-width: 1438px) {
  .feature-text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1050px) and (max-width: 1249px) {
  .feature-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 605px) and (max-width: 1049px) {
  .feature-text {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .feature-text.help-children {
    max-width: auto;
  }
  .feature-text.stories-forever {
    max-width: auto;
  }
  .feature-text.audible-only {
    max-width: auto;
  }
}
@media (max-width: 640px) {
  .feature-box {
    height: 90px;
    max-width: 400px;
    margin: 5px 0;
  }
  .feature-text {
    font-size: 0.95rem;
    height: 90px;
  }
}
.homepage .blue-bar {
  margin: 2rem auto 3rem;
}

/* Plan badge styles */
.badge.bg-info {
  background-color: var(--badge-info) !important;
  color: var(--primary-blue) !important;
}
.badge.bg-primary {
  background-color: var(--teal) !important;
  color: #fff !important;
}
.badge.bg-success {
  background-color: var(--success-green) !important;
  color: #fff !important;
}
.category-icons-row,
.story-covers-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .category-icons-row,
  .story-covers-row {
    gap: 1rem;
  }
}
.btn-wwk-orange {
  background: var(--primary-orange);
  color: #fff;
  font-weight: 600;
  border-radius: 16px;
  padding: 0.75rem 2.5rem;
  font-size: 1.15rem;
}
.section-divider {
  border: none;
  border-top: 3px solid #e9f7fa;
  margin: 2.5rem 0;
}

/* --- Why We Listen Page --- */
/* We value listening Section - Why We Listen Page */
.value-lead {
  color: #3b5c83;
  font-size: 1.5rem;
  margin: 0.5rem auto 4rem;
  max-width: 62.5rem;
}
.why-icons-row {
  margin-bottom: 4rem;
}
.why-icons-row .row {
  margin: 0 auto 4rem;
  display: flex;
  flex-direction: row;
}
.why-icons-row .why-icons-wrap {
  justify-content: center;
  max-width: 318px;
  margin-left: 30px;
}
.why-icons-row .why-icons-wrap:nth-child(1) {
  margin-left: -10px;
}
.why-icons-row .why-icons-wrap:nth-child(4) {
  margin-left: 50px;
  margin-right: 30px;
}
.why-page-content .hero-icon-caption {
  font-size: 1.8rem;
  margin-bottom: 1.5625rem;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Hero icon row - Why We Listen Page */
.perfect-ages .hero-icon-caption {
  color: #65b6c3;
}
.perfect-ages .why-promo-icon {
  max-width: 210px;
  width: 100%;
  height: auto;
}
.audible-only .hero-icon-caption {
  color: var(--primary-blue);
}
.audible-only .why-promo-icon {
  max-width: 161px;
  width: 100%;
  height: auto;
}
.librarian-approved .hero-icon-caption {
  color: #7bb57c;
}
.librarian-approved .why-promo-icon {
  max-width: 125px;
  width: 100%;
  height: auto;
}
.listen-offline .hero-icon-caption {
  color: #384b61;
}
.listen-offline .why-promo-icon {
  max-width: 169px;
  width: 100%;
  height: auto;
}
.stories-eng-spanish .hero-icon-caption {
  color: #d26628;
}
.stories-eng-spanish .first-line {
  display: block;
  max-width: 200px;
}
.stories-eng-spanish .why-promo-icon {
  max-width: 147px;
  width: 100%;
  height: auto;
}
.fav-keep .hero-icon-caption {
  color: var(--primary-orange);
}
.fav-keep .first-line {
  display: block;
  max-width: 260px;
}
.fav-keep .why-promo-icon {
  max-width: 206px;
  width: 100%;
  height: auto;
}
.parental-settings .hero-icon-caption {
  color: #607d37;
}
.parental-settings .why-promo-icon {
  max-width: 116px;
  width: 100%;
  height: auto;
}

/* Story Time in Your Hand Section - Why We Listen Page */
.story-time-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3.75rem 0;
  height: 444px;
  overflow: hidden;
}
.story-time-box-left {
  border: 0.375rem solid #fff5c9;
  border-radius: 1.25rem 0 0 1.25rem;
  border-right: transparent;
  padding: 2rem 4rem 0 2.75rem;
  height: 381px;
  text-align: left;
  color: #3b5c83;
}
.story-time-box-left h2.hero-heading-2 {
  color: var(--primary-orange);
  text-align: left;
  margin: 0;
  padding-top: 0;
}
.story-time-box-left .story-time-lead {
  margin-top: 1.75rem;
  font-size: 1.6rem;
  color: #3b5c83;
}

/* Storytelling quote background box - Why We Listen Page */
.storytelling-quote-bg {
  border-radius: 1.875rem;
  background-color: #fff5c9;
  padding: 3.0625rem 2.125rem 0 2rem;
  height: 444px;
}

/* Storytelling quote image - Why We Listen Page */
.storytelling-quote-bg .img-fluid {
  max-width: 24.75rem;
  height: auto;
}

/* --- Stories Page --- */
/* Headings and text colors - Stories page */
.stories-categories-panel {
  border-radius: 1.1rem;
  border: 1.5px solid #d6f0f5;
  overflow: hidden;
  margin: 5rem auto 3.9rem;
}
.stories-categories-panel.header {
  background: #e9f7fa;
  font-weight: 700;
  color: #0097a9;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 18px 18px 0 0;
  margin: 0;
}
.stories-panel-content {
  background: #fff;
  padding: 0.5rem 2rem 1.25rem;
  border-radius: 0 0 18px 18px;
}
.stories-categories-intro {
  color: var(--primary-blue);
  font-size: 1.75rem;
  margin: 1.25rem auto 2.5rem;
  text-align: center;
}
.stories-category-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
}
.stories-category-row img {
  width: 190px !important;
  height: 190px !important;
  object-fit: contain;
}
.stories-categories-panel .stories-category-label {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
}
.stories-category-label.animals {
  color: #7a5c2e;
}
.stories-category-label.fantasy {
  color: #2e4a7a;
}
.stories-category-label.adventure {
  color: var(--success-green);
}
.stories-category-label.ourworld {
  color: #7a3b7a;
}
.stories-category-label.silly {
  color: var(--primary-orange);
}

/* Favorites section - Stories page */
.stories-placeholder-text {
  color: #6c63ff;
  font-size: 1rem;
}
.carousel-wrapper {
  margin: 0 50px 60px;
  z-index: 1;
}
.stories-covers-row .slick-initialized .slick-slide,
.stories-covers-row .slick-slide {
  margin: 0 25px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.carousel-wrapper .slick-track {
  height: 470px;
  z-index: 50;
}
.stories-covers-row .center .slick-center {
  color: royalblue;
  opacity: 1;
  transform: scale(1.375);
  transition: all 0.25s linear;
  margin: 0 75px;
}
.stories-covers-row .center .slick-center a::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url("/assets/play-button.png") center center no-repeat transparent;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  top: 330px;
  left: 110px;
  z-index: 100;
}
.carousel-wrapper .slick-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  position: relative;
  z-index: 50;
}
.carousel-wrapper .slick-slide img {
  display: block;
  border-radius: 15px;
  min-width: 280px;
}
.stories-placeholder {
  background: #e5e5e5;
  border-radius: 8px;
  min-height: 483px;
  height: 100%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* --- Listen Page --- */
/* Listen Page Panel Styles */
.listen-app-panel {
  background: url("../assets/app-hero-background.png") 100% 0 no-repeat var(--panel-blue);
  background-size: cover;
  border-radius: 1.125rem;
  border: 0.09375rem solid #d6f0f5;
  margin: 0 30px 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.listen-app-panel-left {
  max-width: 650px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.listen-app-panel-title {
  color: var(--teal);
  font-size: calc(2.75rem + 0.25vw);
  line-height: calc(2.75rem + 0.25vw);
  margin: 120px 30px 70px 40px;
  text-align: left;
  font-weight: 600;
}

.listen-app-panel-title div {
  color: var(--teal);
  font-size: inherit;
}
.listen-app-panel-sub {
  font-size: calc(1rem + 0.25vw);
  color: #000;
  text-align: left;
  margin: 0 30px 10px 45px;
  font-weight: bold;
}
.listen-app-panel-download-buttons {
  margin: 0 0 70px 35px;
}
.listen-app-panel-right {
  max-width: 600px;
  flex: 1 1 50%;
  display: flex;
  align-items: flex-start;
  padding: 20px 0 10px 0;
}
.app-mockup-img {
  width: 100%;
  height: auto;
  max-width: 321px;
}
.listen-app-panel-note {
  background: var(--teal);
  color: #fff;
  border-radius: 0 0 1rem 1rem;
  font-size: calc(1rem + 0.25vw);
  font-weight: 500;
  padding: 10px 20px;
}
@media (min-width: 1439px) {
  .listen-page .hero-heading-1.listen-app-panel-title {
    font-size: 5.75rem;
    line-height: 5.75rem;
  }
  .listen-app-panel-sub {
    font-size: 1.9rem;
  }
  .listen-app-panel-note {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1438px) {
  .listen-page .hero-subheading {
    font-size: calc(1rem + 0.75vw);
  }
  .listen-page .hero-heading-1.listen-app-panel-title {
    font-size: calc(4rem + 0.75vw);
    line-height: calc(4rem + 0.75vw);
    max-width: 500px;
  }
  .listen-app-panel-sub {
    font-size: calc(1.5rem + 0.25vw);
  }
  .listen-app-panel .apple-badge-icon,
  .listen-app-panel .google-badge-icon {
    max-height: 70px;
  }
  .listen-app-panel-note {
    font-size: calc(1.3rem + 0.25vw);
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .listen-page .hero-heading-2 {
    font-size: calc(3rem + 0.75vw);
  }
  .listen-page .hero-subheading {
    font-size: calc(1rem + 0.5vw);
  }
  .listen-page .hero-heading-1.listen-app-panel-title {
    font-size: calc(3rem + 0.75vw);
    line-height: calc(3rem + 0.75vw);
    max-width: 400px;
  }
  .listen-app-panel-sub {
    font-size: calc(1rem + 0.75vw);
  }
  .listen-app-panel .apple-badge-icon,
  .listen-app-panel .google-badge-icon {
    max-height: 60px;
  }
  .listen-app-panel-note {
    font-size: calc(1.15rem + 0.25vw);
  }
}
@media (max-width: 1024px) {
  .listen-page .hero-heading-2 {
    margin-top: 30px;
    font-size: calc(2rem + 0.75vw);
  }
  .listen-page .hero-subheading {
    font-size: calc(0.9rem + 0.5vw);
  }
  .listen-app-panel-note {
    font-size: calc(1rem + 0.25vw);
  }
}
@media (max-width: 959px) {
  .listen-page .hero-heading-2 {
    margin-top: 30px;
    font-size: calc(2rem + 0.75vw);
  }
  .listen-page .hero-subheading {
    font-size: calc(0.9rem + 0.5vw);
  }
  .listen-app-panel .apple-badge-icon,
  .listen-app-panel .google-badge-icon {
    max-height: 50px;
  }
  .app-mockup-img {
    width: auto;
    height: auto;
    max-height: 90%;
  }
  .listen-app-panel-note {
    font-size: calc(0.85rem + 0.25vw);
  }
}
@media (min-width: 800px) and (max-width: 920px) {
  .listen-page .hero-subheading {
    font-size: calc(0.95rem + 0.25vw);
  }
}
@media (max-width: 800px) {
  .listen-page .hero-subheading {
    font-size: calc(0.85rem + 0.5vw);
    display: flex;
    flex-direction: column;
  }
  .listen-app-panel {
    background: url("../assets/app-hero-background.png") 80% 0 no-repeat var(--panel-blue);
    background-size: cover;
  }
}
.listen-subscribe-panel {
  border-radius: 30px;
  border: 6px solid var(--panel-blue);
  margin: 40px auto 0;
}
.listen-subscribe-header.hero-subheading.orange-bg {
  text-align: center;
  font-size: 2.55rem;
  font-weight: bold;
  margin: -6px -6px 0;
  border-radius: 30px 30px 0 0;
}
.join-plan {
  font-size: 2.1rem;
  margin: 5px auto 30px;
  text-align: center;
  padding: 15px;
}
.story-plans-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.25rem;
  padding-bottom: 1rem;
}
.listen-plan-box {
  background: var(--light-yellow);
  border-radius: 10px;
  padding: 25px 10px 0;
  border: none;
  width: 433px;
  height: 134px;
  text-align: center;
  position: relative;
}
.listen-plan-badge {
  background: var(--primary-blue);
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 2px 8px;
  height: 40px;
}
.listen-plan-title {
  color: var(--secondary-blue);
  font-weight: bold;
  font-size: 2.1rem;
}
.listen-plan-price {
  color: var(--primary-blue);
  font-weight: bold;
  font-size: 1.5rem;
}
.monthly-plan-tip {
  margin: 0 auto 5px;
  padding: 15px 0;
  font-weight: 600;
  text-align: center;
}

/* --- Grownups Page --- */
.grownups-page .hero-heading-2 {
  margin-bottom: 0;
}
.grownups-heading {
  color: var(--teal);
}
.grownups-page .hero-subheading {
  margin: 0 auto 60px;
}
.grownups-info-panel {
  background: var(--panel-yellow);
  border-radius: 1.125rem;
  padding: 2rem;
}
.grownups-info-panel .headline {
  text-align: left;
  padding-bottom: 20px;
}
.grownups-highlight {
  font-size: 2rem;
  color: var(--teal);
  font-weight: 700;
  line-height: 1.1;
}
.grownups-highlight-alt {
  color: #00bfae;
}
.grownups-highlight-sub {
  font-size: 1.15rem;
  color: var(--primary-blue);
}
.grownups-info-box {
  background: var(--white);
  color: var(--secondary-blue);
  padding: 25px 20px;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 30px;
  border-radius: 20px;
}
.grownups-info-title {
  color: var(--teal);
  font-size: 1.5rem;
  font-weight: bold;
  clear: both;
  margin-bottom: 5px;
}
.grownups-info-text {
  color: var(--secondary-blue);
}
.headphones {
  vertical-align: bottom;
  display: inline-block;
  margin-right: 30px;
}
.icon-heart {
  float: right;
  margin: 20px;
}
.hola {
  margin-bottom: 30px;
}
.human-created {
  float: right;
  margin: 20px 10px 40px 0;
  width: 444px;
  height: auto;
}
.grownups-cta-panel {
  text-align: center;
  margin-top: 80px;
}
.grownups-page .grownups-cta-slogan {
  font-size: 2.5rem;
  margin-bottom: 25px;
  font-weight: bold;
}
.btn-wwk-orange.grownups-download-btn {
  font-weight: 600;
  margin: 0 auto 25px;
  border-radius: 30px;
  padding: 13px 26px;
  font-size: 2.5rem;
}
.grownups-cta-sub {
  color: var(--primary-orange);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 25px auto 40px;
}

/* Help page */
.quick-answers .hero-heading-2 {
  margin-bottom: 10px;
}
.quick-answers .hero-subheading {
  margin: 0 auto 50px;
}
.quick-answers .sub-header-teal {
  text-align: left;
  margin-bottom: 20px;
}
.quick-answers .row {
  row-gap: 2.5rem;
  --bs-gutter-x: 2.5rem;
}
.quick-answers .accordion-item {
  border: 1px solid var(--slate-blue);
  border-radius: 8px;
  margin-bottom: 30px;
}
.quick-answers h3.accordion-header button {
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--secondary-blue);
  padding: 22px 15px;
}
.quick-answers h3.accordion-header .accordion-button.collapsed {
  border: none;
  background-color: transparent;
}
.quick-answers .accordion-button:not(.collapsed) {
  background-color: rgba(231, 105, 36, 0.1);
  box-shadow: none;
}
.quick-answers .accordion-button.collapsed::after {
  background: url("/assets/plus.png") no-repeat center center;
  background-size: 120%;
  margin-right: 10px;
}
.quick-answers .accordion-button:not(.collapsed)::after {
  background: url("/assets/minus.png") no-repeat center center;
  background-size: 120%;
  margin-right: 10px;
}
.quick-answers .accordion-button:focus {
  box-shadow: none;
}
.quick-answers .accordion-body {
  font-size: 1.75rem;
  color: var(--secondary-blue);
  text-align: left;
}
#faqAccordionRight .hero-subheading {
  text-align: left;
  font-size: 1.6rem;
  padding: 18px 0;
  font-weight: bold;
}
.contact-us .sub-header-teal {
  text-align: left;
  margin: 30px 0 20px;
}
.contact-us .contact-panel {
  border-radius: 20px;
  border: 5px solid #fff2ba;
  padding: 20px 20px 0 50px;
  font-size: 1.9rem;
  text-align: left;
}
.contact-form-intro {
  font-size: 1.6rem;
  color: var(--primary-blue);
  margin: 40px 0;
}
.contact-panel .bi-envelope {
  color: var(--primary-orange);
  font-size: 2.5rem;
  margin-right: 10px;
  vertical-align: middle;
}
.contact-panel .bi-telephone {
  color: var(--primary-orange);
  font-size: 2.5rem;
  margin-right: 10px;
  vertical-align: middle;
}
.contact-panel .social-line {
  margin-top: 30px;
  color: var(--primary-orange);
  font-size: 1.5rem;
}
.social-icon {
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-right: 10px;
}
.contact-form {
  margin-top: 0;
  padding: 0 0 0 50px;
}
.contact-form label {
  font-size: 1.25rem;
  color: var(--slate-blue);
  text-align: left;
  margin: 5px 0 0;
}
.contact-form input.form-control {
  font-size: 1.5rem;
  color: var(--secondary-blue);
  border-radius: 8px;
  border: 1.5px solid var(--slate-blue);
  width: 691px;
  height: 60px;
  margin-top: -5px;
}
.contact-form textarea.form-control {
  font-size: 1.5rem;
  color: var(--secondary-blue);
  border-radius: 8px;
  border: 1.5px solid var(--slate-blue);
  width: 691px;
  height: 163px;
  margin-top: -5px;
}
.contact-form .button-note-wrapper {
  margin-top: 15px;
}
.contact-form .btn-wwk-orange {
  font-size: 1.6rem;
  padding: 4px 21px;
  border-radius: 10px;
}
.contact-form-note {
  font-size: 1.4rem;
  color: var(--light-gray);
  display: inline-block;
  padding: 5px 0 0 8px;
}

/* Responsive tweaks */
@media (max-width: 991.98px) {
  .stories-panel-header,
  .stories-panel-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .stories-category-row {
    gap: 1rem;
  }
  .stories-covers-row {
    gap: 0.75rem;
  }
}
